.sidebar {
  background-color: #f8f9fa;
  min-height: 100vh;
  padding: 2rem 0;

  .nav-link:last-of-type {
    color: red;
  }
  .nav-link {
    color: #495057;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;


    &:hover {
      color: #212529;
    }

    &.active {
      color: #17a2b8;
    }

    i {
      width: 20px;
      text-align: center;
    }
  }
} 

.nav.flex-column{
 box-shadow: 0px 0px 10px #8888884f;
 border-radius: 15px;
}